@import 'index';
@import 'header';
@import './user/dashboard';

.initialsOfName{
    height: 100%;
    width: 100%;
    border-radius:20%;
    margin-right: 20px;
    text-align: center;
    vertical-align:middle;
    padding: auto 0;
    font-weight:500;
    height: 100%;
    background-size: cover;
}
.balance-container{
    width: 95%;
    margin: auto;
    border-radius: 15px;
    background: rgb(28, 26, 49);
  background: linear-gradient(90deg, rgb(28, 26, 49) 0%, rgb(11, 27, 120) 100%);
   }